{{> head}}

{{> navbar}}
    <div class="title">
        <h1>Bienvenido</h1>
    </div>
    <div class=search>
        <!--
        <div class="search-text">
            <input type="text" placeholder="Find your favorite movies" id="input">
            <button id="search">Search</button>
        </div>
      -->
        <h2 class="number-results"></h2>
    </div>
    <h3 class="emptyMessage hide">Entrada no encontrada en la base de datos</h3>
    
         <div class="wrapper">
        <div class="card-1"><img src="/assets/img/empty.jpg"></img>
            <h3 class="movie-title"></h3>
            <p class="year"></p>

        </div>
        <div class="card-2"><img src="/assets/img/empty.jpg"></img>
            <h3 class="movie-title"></h3>
            <p class="year"></p>

        </div>
        <div class="card-3"><img src="/assets/img/empty.jpg"></img>
            <h3 class="movie-title"></h3>
            <p class="year"></p>

        </div>
        <div class="card-4"><img src="/assets/img/empty.jpg"></img>
            <h3 class="movie-title"></h3>
            <p class="year"></p>

        </div>
        <div class="card-5"><img src="/assets/img/empty.jpg"></img>
            <h3 class="movie-title"></h3>
            <p class="year"></p>

        </div>
        <div class="card-6"><img src="/assets/img/empty.jpg"></img>
            <h3 class="movie-title"></h3>
            <p class="year"></p>

        </div>
        <div class="card-7"><img src="/assets/img/empty.jpg"></img>
            <h3 class="movie-title"></h3>
            <p class="year"></p>

        </div>
        <div class="card-8"><img src="/assets/img/empty.jpg"></img>
            <h3 class="movie-title"></h3>
            <p class="year"></p>

        </div>
        <div class="card-9"><img src="/assets/img/empty.jpg"></img>
            <h3 class="movie-title"></h3>
            <p class="year"></p>

        </div>   
        <div class="card-10"><img src="/assets/img/empty.jpg"></img>
            <h3 class="movie-title"></h3>
            <p class="year"></p>

        </div>
    </div>
    <div class="btnNextPrev hide">
        <button class="btnPrev">Previous</button>
        <button class="btnNext">Next</button>
    </div>

   
 {{> footer}}